.task-container {
    background-color: var(--graylight);
    margin: 15px 24px;
    padding: 15px 15px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: var(--white);
    align-items: center;
    cursor: pointer;
}
.remove-task,
.details-task{
    background-color: var(--graylight);
    border: none;
    font-size: 24px;
    color: var(--green);
    padding: 0px 10px;
    margin: 0 5px;
    cursor: pointer;
}
